/*
 Author: Kaeden Smith
 Date: 03/28/22					Header block comments in each file
 Section: 18625
*/
.sidebar {
	height: 96%;
	width: 20%;
	position: fixed;
	top: -5;
	left: 5;
	padding-top: 40px;
	background: #0EFECC;
	border-radius: 50px;
}

.sidebar div {
	padding: 8px;
	font-size: 24px;
	display: block;
}

.main {
	margin-left: 20%;
	font-size: 18px;
}


.footer{
	text-align: center;
	font-size: 26px;
	padding: 30px;
	background: black;
	color: white;
	border-radius: 50px;
}

.header{
	padding: 30px;
	text-align: center;
	background: black;
	color: white;
	font-size: 42px;
	border-radius:50px;
}

dt{
	font-size: 30px;
	font-weight: bold;
	padding: 20px;
}

dd{
	font-size: 24px;
}

li{
	padding: 10px;
}


h1{
	font-size: 48px;
	text-align: center;
}

h2{
	font-size: 32px;
	text-align: center;
	color: #FFE163;
}

#title{
	height: 200px;
	width: 500px;
	text-align: center;
	background: #0EFECC;
	color: black;
	margin-left: 32.5%; 
	padding: 20px;
	border-radius: 50px;
}

body{
	background: black;
}

a, a:link{
	color: black;
}

a:hover{                                        /*  At least one CSS rollover effect  */
	color: #3003FC;
}

#home{
	color: #0EFECC;
}

.homePage{
	text-align: center;
	font-size: 125%;
	padding: 30px;
	padding-left: 150px;
	padding-right: 150px;
	
}

.snapRight{
	margin-left: 30%;
}

#logo{
	position: relative;
	left: 80%;
	top: -200px;
	height: 200px;
	width: 200px;
}

#kaeden{
	position: relative;
	left: 6%;
	top: -1060px;
	height: 550px;
	width: 300px;
}


.center{
	margin-right: auto;
	margin-left: auto;
}

.bb:link{                            /*   Example of a style that overrides another    */
	color: #FFE163;
}

.sizeUp{
	font-size: 225%;
}