/*
 Author: Kaeden Smith
 Date: 03/28/22					Header block comments in each file
 Section: 18625
*/
html{
	background: black;
}
.main {
	font-size: 18px;
	text-align: center;
	color: #0EFECC;
}

#logo{
	position: relative;
}

.olSnap{
	text-align: center;
}